/*Menu*/
.menu-bg {
  background: #222222;
}
.menu-logo a {
  color: white;
  font-size: 2.25em;
  padding: 10px;
}
.menu-logo a:hover {
  color: #ffbc40;
}
.header {
  display: block;
}
.menu {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  align-items: center;
}
.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.menu-nav ul li {
  padding: 15px;
  margin-top: 2px;
  color: red;
}
.menu-nav ul li a {
  color: white;
}
.menu-nav ul li a:hover {
  color: #ffbc40;
  border-bottom: #ffbc40 2px solid;
}

/*Introdução*/
.introducao {
  margin: 0 auto;
  max-width: 960px;
  font-size: 3em;
  line-height: 1;
  padding: 60px 10px;
  border-bottom: #ffbc40 2px solid;
}

/*Sobre*/

.sobre {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
  border-bottom: #ffbc40 2px solid;
}

.sobre-info {
  margin: 0 10px;
  flex: 2 1 300px;
}
.sobre-info h1 {
  margin-bottom: 0.5em;
  font-size: 3em;
}
.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}
.sobre img {
  flex: 1 1 160px;
  margin: 0 10px;
}

/*Produtos*/

.produtos {
  margin: 60px auto;
  max-width: 960px;
}
.produtos h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}
.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.produtos-item {
  flex: 1 1 175px;
  margin: 10px;
}
.produtos-item h2 {
  background: #f7f7f7;
  color: #a4a4a4;
  font-size: 3em;
  padding: 60px 10px;
}
.platinum {
  border-top: 8px solid #00a000;
}
.diamond {
  border-top: 8px solid #0047ab;
}
.challenger {
  border-top: 8px solid #daa520;
}

/*Preço*/

.preco {
  background: #f7f7f7;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}
.preco-item {
  flex: 1 1 260px;
  border: 4px solid white;
  margin: 10px;
  padding: 20px;
}
.preco-item h2 {
  color: #a4a4a4;
  font-size: 3em;
  text-align: center;
  margin-top: 20px;
}
.preco-item span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 5px 0;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}
.preco-item sup {
  font-size: 0.5em;
}
.preco-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em;
  font-style: italic;
  color: #7c7c7c;
}

/*Dificil*/
.preco-item li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.preco-item li::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #ffbc40;
  border-radius: 50%;
}
.preco-item a {
  max-width: 300px;
  font-size: 2.25em;
  display: block;
  border: 4px solid black;
  padding: 15px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #222222;
  margin: 20px auto;
}

/*Qualidade*/

.qualidade {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 60px auto;
}

.qualidade-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}
.qualidade-item h2 {
  font-size: 2.25em;
  color: #a4a4a4;
  margin-bottom: 20px;
  border-left: 5px solid #ffbc40;
  border-radius: 10%;
  padding-left: 5px;
}
.qualidade-item p {
  font-size: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
}

/*Formulário*/

.formulario {
  display: flex;
  max-width: 960px;
  margin: 60px auto;
  flex-wrap: wrap;
}
.formulario-bg legend {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: #ffbc40 1px solid;
}

.formulario-item {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: black;
  margin-left: 10px;
  align-content: flex-end;
}
.formulario-item input {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 18px;
  padding-left: 10px;
}
.formulario-item input:hover {
  border: 2px solid #ffbc40;
}
.formulario-item textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 110px;
  font-size: 20px;
}
.formulario-item textarea:hover {
  border: 2px solid #ffbc40;
}
.formulario-img {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-left: 20px;
  flex: 1 1 300px;
}
.btn {
  margin-left: 10px;
  margin-bottom: 60px;
  padding: 10px 15px;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #ffbc40;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #a4a4a4;
}
.btn:hover {
  background-color: #ffbc40;
}
.btn:active {
  background-color: #ffbc40;
  box-shadow: 0 5px a4a4a4;
  transform: translateY(4px);
}

/*Rodapé*/

.footer-bg {
  background: #222222;
  display: flex;
  align-items: center;
  height: 160px;
}
.footer-bg p {
  color: white;
  flex: 1;
  text-align: center;
  font-size: 2.25em;
}
