/* flex container */

.container {
  display: flex;
  max-width: 940px;
  margin: 0 auto;
  border: 1px solid #ccc;
}
.center {
  justify-content: flex-start;
}
.item {
  flex: 1;
}
.multiplos {
  align-self: baseline;
}

/* Style */
.titulo {
  font-size: 26px;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Style Itens */
.item {
  padding: 10px;
  resize: none;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 5px;
}

.subtitles {
  font-size: 20px;
  color: #616161;
}

.input {
  border: 1px solid #616161;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  resize: none;
}
.input:hover {
  border: 3px solid #90ee90;
  transition: 0.2s ease-in;
}

.item-data {
  flex-direction: column;
  font-size: 20px;
  width: 100%;
  margin-left: 10px;
}
/* Style botão enviar */
.btn {
  width: 80%;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  background: #90ee90;
  border-radius: 10px;
  border: 1px solid #616161;
}
.btn:hover {
  background: #f08080;
  transition: 0.3s ease-in;
}
